@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "nprogress/nprogress.css";

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  scroll-behavior: smooth;
}

/* 404 */
.notfound a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #243665;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #f1f1e7;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #243665;
  color: #243665;
}

/* 503 */
.noserver a {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #f1f1e7;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #243665;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 2px solid transparent;
}

.noserver a:hover {
  background-color: #fff;
  border-color: #243665;
  color: #243665;
}

#nprogress .bar {
  background-color: #243665 !important;
}

/* MAP */
.map-container {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.5rem /* 8px */;
}

/* TEXT SELECTION */
::selection {
  background: #000231;
  color: #f1f1e7;
}
